<!-- <section class="wrap">
  <h1>Administradores activos</h1>

 <input 
    class="search" 
    type="search" 
    placeholder="Buscar medico" 
    [value]="q()" 
    (input)="q.set($any($event.target).value)" />

  <div class="grid">
    <app-card-admin-a
      *ngFor="let m of  adminsFiltrados()"
      [admin]="m"
      (ver)="verAdmin(m)">
    </app-card-admin-a>
  </div>

</section> -->

<!-- 
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! -->


<section class="wrap">
  <h1>Administradores activos</h1>

  <input class="search" type="search" placeholder="Buscar administrador" [value]="q()"
    (input)="q.set($any($event.target).value)" />
  <div style="margin-bottom: 15px;">
    <button class="btn" [disabled]="!hayCambios" (click)="actualizarPermisos()">
      Guardar cambios
    </button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>CI</th>
          <th>Nombre</th>
          <th>Estado</th>
          <th>Cargo</th>
          <th>Fecha (ingreso)</th>
          <!--<th>Permisos</th>-->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (m of adminsFiltrados(); track m.id_admin) {
        <tr>
          <td>{{ m.id_admin }}</td>
          <td>{{ m.nombre }}</td>
          <td class="capitalize">{{ m.estado?'Activo':'Inactivo' }}</td>
          <td class="capitalize">{{ m.cargo }}</td>
          <td>{{ m.fechaIn | date:'dd/MM/yyyy' }}</td>
          <!--
            <td>
              <div class="checkbox-group" *ngIf="m.permisos">
                <label>
                  <input type="checkbox" [(ngModel)]="m.permisos.editar"(change)="verificarCambios()" > Editar
                </label>
                <label>
                  <input type="checkbox" [(ngModel)]="m.permisos.eliminar" (change)="verificarCambios()"> Eliminar
                </label>
                <label>
                  <input type="checkbox" [(ngModel)]="m.permisos.ver" (change)="verificarCambios()"> Ver
                </label>
                <label>
                  <input type="checkbox" [(ngModel)]="m.permisos.agregar"(change)="verificarCambios()"> Agregar
                </label>
              </div>
            </td>-->

          <td>
            <button class="btn" type="button" (click)="verAdmin(m)">Ver Detalle</button>
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="6" style="text-align: center; padding: 20px;">
            No se encontraron administradores con ese criterio.
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</section>